{
            background-color: rgb(33, 138, 236);
        }
            h1{
                color: rgba(12, 44, 9, 0.815);
            }
            p{
                background-color: rgb(6, 28, 70);
                color: #ffffff;body
            }
            .page two{
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                text-decoration: underline;
                color: steelblue;
            }
            .body{
                color: green;
                background-color: greenyellow;
                
            }
