body{background-color: rgb(156, 156, 175);
font-family: Arial, Helvetica, sans-serif;width: 80%;
margin: auto
;}
.sectionstyle{float: left;
margin-left: 5px;
width: 48;
}
.imglady{width: 80%;
height: auto;
}